<div class="container-fluid">
    <div class="row">
        <div class="col bg-primary p-2 text-white">
            Admin Panel
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
                <input type="submit" class="btn btn-outline-info btn-block" value="Shop" />
            </form>
            <form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="Users">
                <input type="submit" class="btn btn-outline-info btn-block" value="User List" />
            </form>
            <form method="post" enctype="multipart/form-data" asp-controller="Products" asp-action="Index">
                <input type="submit" class="btn btn-outline-info btn-block" value="Products" />
            </form>
            <form method="post" enctype="multipart/form-data" asp-controller="Role" asp-action="Index">
                <input type="submit" class="btn btn-outline-info btn-block" value="User List" />
            </form>
        </div>
        <div class="col-9">

        </div>
    </div>
</div>